
.notfound-container
{
    display: flex;
    background: linear-gradient(45deg, #1D1D1D, #057343);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.inner-container
{
    display: flex;
    max-width: 26rem;
    width: 100%;
    flex-direction: column;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.header
{
    font-size: 5rem;
    margin-bottom: 1rem;
    color:#292a2e;
}

.headertwo
{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color:#292a2e;
    margin-bottom: 1rem;
}

.text
{
    font-size: 1rem;
    color:#bdaeae;
    margin-bottom: 1.75rem;
}

.notfoundbutton
{
    width: 40%;
    text-align: center;
    background-color: #029F5B;
    border-width: 1px;
    border-color: #373A41;
    color: #FFF;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    transition: 0.25s;
}

.notfoundbutton:hover
{
    opacity: 1;
    background-color: #057343;
    color:#FFF;
}